/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/resources/frontend/dist
/resources/frontend/tmp
/resources/frontend/out-tsc

/resources/webapp/dist
/resources/webapp/tmp
/resources/webapp/out-tsc

# dependencies
/resources/frontend/node_modules
/resources/webapp/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

