<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" routerLink="" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="">Home</a></li>
        <li role="presentation" routerLink="login" [routerLinkActive]="'active'"><a routerLink="login">Login</a></li>
        <li role="presentation" routerLink="signup" [routerLinkActive]="'active'"><a routerLink="signup">Sign Up</a></li>
        <li role="presentation" routerLink="welcome" [routerLinkActive]="'active'"><a routerLink="welcome">Welcome</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">{{ title }}</h3>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>

  <footer class="footer">
    <p>&copy; 2018 Chitima, Zimbabwe (PVT) Ltd.</p>
  </footer>
</div>